

 body {
     font-family: Arial, sans-serif;
     margin-top: 100px;
     background: #ede4fc;
     background:  radial-gradient(circle,rgb(217, 0, 255) 0%, rgba(199, 87, 135, 0.234) 56%, rgba(237, 221, 83, 0.273) 100%);;
 }



.input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px; 
}
   

input {
    padding: 10px 20px;
     border-radius: 8px;
     font-size: 18px;
     color: #ffffff;
     background-color: #7b2afd;
     box-shadow:7px 3px 35px 17px #2ad3fd8f;
}

::placeholder{
    color: white;
}


.button-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    padding: 10px 10px;
     border-radius: 100px;
     font-size: 18px;
     color: #ffffff;
      border-color: #7b2afd;
      border-radius: 50px;
     background-color: #2ad3fd;
     box-shadow:7px 3px 35px 17px rgba(101,64,236,0.66);
}

